{% block sidebar %}

            <style>
                    .card{
                        box-shadow: 0 16px 48px #E3E7EB;
                    }

            </style>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4 float-right ">
            <div class="card my-4">
                    <h5 class="card-header">About Us</h5>
                <div class="card-body">
                    <p class="card-text"> This awesome website is made my Himanshu, who is currently working as software developer in Songdew, adding to this he completed his eductation from IIT Guwahati in Machine Learning domain..!</p>
                    <p class="card-text"> For more details you can visit his github profile.</p>
                    <a href="https://github.com/TheHimanshuBairwa"
                    class="btn btn-danger">Know more!</a>
                </div>
            </div>
            </div>

        {% endblock sidebar %}